@model SchoolProject_DB.Models.Post

@{
    ViewData["Title"] = Model.PostTitle;
}



<div class="d-flex justify-content-center">
    <div class="card" style="width: 50rem;">
        <h1 class="alert alert-warning text-center" role="alert">@Html.DisplayFor(model => model.PostTitle)</h1>

        <br />

        @if (Model.Photos != null && Model.ImageType != null)
        {
            <img src="@Url.Action("GetImage", "Posts", new { id = Model.PostID })" class="card-img-top" alt="Post Image">
        }

        <div class="card-body">

            <h5 class="card-text" style="font-weight: bold;">
                <a asp-controller="Members" asp-action="Details" asp-route-id="@Model.Member.MemberID" class="text-dark text-decoration-none">
                    @Html.DisplayFor(model => model.Member.UserName)：
                </a>
            </h5>

            @* //3.3.11 在Display View中加入處理「有換行的留言」顯示方式 *@
            <p class="card-text ps-4">@Html.Raw(Model.Description.ToString().Replace("\r\n", "<br>"))</p> @*會換行的內容*@
            <p class="text-end">於 @Html.DisplayFor(model => model.CreatedAt) 發佈</p>

            <hr />

            
            <div class="mb-2 mt-3">
                @if (ViewBag.IsAdmin == true) // 檢查是否為管理員
                {
                    <div class="btn-group w-100" role="group" aria-label="Post actions">
                        <a asp-action="Index" class="btn btn-outline-primary w-50">返回留言板</a>

                        <form asp-action="Delete" asp-route-id="@Model.PostID" method="post">
                            <button type="submit" class="btn btn-outline-danger w-100" onclick="return confirm('確定要刪除這篇文章嗎？');">刪除文章</button>
                        </form>
                    </div>
                }
                else
                {
                    <a asp-action="Index" class="btn btn-primary w-100">返回留言板</a>
                }
            </div>



        </div>
    </div>
</div>

